<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom styles for this template -->
    @*<link href="~/Content/Site.css" rel="stylesheet">*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-with-dropdown">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Onshore Bootcamp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            <div id="navbar-right">
                <div class="navbar-collapse collapse" id="navbar-collapse-with-dropdown">
                    <ul class="nav navbar-nav">
                        <!-- Index -->
                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @style = "font-weight:bold;" })</li>

                        <!-- User -->
                        <li>@Html.ActionLink("Users", "UserList", "User", new { @searchString = "" }, new { @style = "font-weight:bold" })</li>

                        <!-- Board -->
                        <li>@Html.ActionLink("Board", "BoardList", "Board", null, new { @style = "font-weight:bold" })</li>

                        <!-- Restaurant -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <strong>Restaurant</strong>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Order", "Index", "Restaurant")</li>
                                <li>@Html.ActionLink("List", "RestaurantList", "Restaurant")</li>
                                <li>@Html.ActionLink("Summary", "RestaurantPayment", "Restaurant")</li>
                            </ul>
                        </li>

                        <!-- User Profile and LogOut-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <strong>@(Session["AUTHUserName"] as string)</strong>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Profile", "UserProfile", "User", new { id = Convert.ToInt32(Session["AUTHUserIDPK"]) }, null)</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Sign Out", "UserLogOut", "User")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Onshore Bootcamp</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
