@using BootcampTrainee.Models

@model Restaurant

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
    function showPrice() {
        // show or hide price field
        if (document.getElementById('is-sandwich-restaurant-checked').checked) {
            document.getElementById('price-field').style.display = 'block';
        } else if (document.getElementById('is-sandwich-restaurant-unchecked').checked) {
            document.getElementById('price-field').style.display = 'none';
        }
    }

</script>

@using (Html.BeginForm("RestaurantRegister", "Restaurant", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    <body>
        <div class="container" style="margin-top:30px;">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- Restaurant Name -->
            <label class="control-label">
                @Html.LabelFor(Model => Model.RestaurantName)
            </label>
            <div class="input-group form-group required">
                <span class="input-group-addon"><i class="glyphicon glyphicon-apple"></i></span>
                @Html.EditorFor(Model => Model.RestaurantName,
                    new {htmlAttributes = new { @class = "form-control", @placeholder = "Enter Restaurant Name", @maxlength="20" }})
                @Html.ValidationMessageFor(Model => Model.RestaurantName, "", new { @class = "text-danger" })
            </div>

            <!-- Day of Week -->
            <label class="control-label">
                @Html.LabelFor(Model => Model.DayofWeek)
            </label>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                @Html.DropDownListFor(Model => Model.DayofWeek, new SelectList(Model.DayList), "Select One", new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.DayofWeek, "", new { @class = "text-danger" })
            </div>


            <!-- Contact -->
            <label class="control-label">
                @Html.LabelFor(Model => Model.Contact)
            </label>
            <div class="input-group form-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                @Html.EditorFor(Model => Model.Contact, new{htmlAttributes = new { @class = "form-control", maxlength="10", @placeholder = "Enter Contact number Ex.1234561234" }})
                @Html.ValidationMessageFor(Model => Model.Contact, "", new { @class = "text-danger" })
            </div>

            <!-- Email -->
            <label class="control-label">
                @Html.LabelFor(Model => Model.Email)
            </label>
            <div class="input-group form-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                @Html.EditorFor(Model=>Model.Email, new {htmlAttributes = new { @class="form-control", maxlength="10", @placeholder = "Enter Email "}})
                @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger"})
            </div>

            <!-- Notice -->
            @Html.LabelFor(Model => Model.Notice)
            <div class="input-group form-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                @Html.EditorFor(Model => Model.Notice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Notice (Optional) ", maxlength="50" }})
            </div>
            <!-- IsActive -->
            <div class="control-label">
                @Html.LabelFor(Model => Model.IsActive)
            </div>
            <div class="input-group form-group">
                @Html.RadioButtonFor(Model => Model.IsActive, 1, new { Checked = "checked" }) @Html.Label("Yes")
                @Html.RadioButtonFor(Model => Model.IsActive, 0, new { style = "margin-left:30px" }) @Html.Label("No")
            </div>

            <!-- IsSandwichRestaurant-->
            <div class="control-label">
                @Html.LabelFor(Model => Model.IsSandwichRestaurant)
            </div>
            <div class="input-group form-group">
                <!-- Yes -->
                @Html.RadioButtonFor(Model => Model.IsSandwichRestaurant, 1, new { @id = "is-sandwich-restaurant-checked", onclick = "javascript:showPrice();" })
                @Html.Label("Yes", new { style = "margin-right:30px" })

                <!-- No -->
                @Html.RadioButtonFor(Model => Model.IsSandwichRestaurant, 0, new { Checked = "checked", @id="is-sandwich-restaurant-unchecked", onclick="javacsript:showPrice();" })
                @Html.Label("No")
            </div>

            <!-- Price for a sandwich -->
            <div id="price-field" style="display:none;">
                @Html.LabelFor(Model => Model.SandwichPrice)
                <div class="input-group  form-group">
                    @Html.EditorFor(Model => Model.SandwichPrice, new { @class = "form-control" })
                    @Html.ValidationMessageFor(Model => Model.SandwichPrice, "", new { @class="text-danger"})
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-sm">Register</button>
            @Html.ActionLink("Back To List", "RestaurantList", "Restaurant", null, new { @class="btn btn-danger btn-sm"})
        </div>
    </body>
}
